* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  border-radius: 18px 18px 0 0;
  background-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 2px 24px;
  text-align: center;
}

.header h1 {
  font-weight: 900;
}

.container {
  max-width: 600px;
  width: auto;
  margin: 0 auto;
  padding: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 18px 18px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  text-align: left;
}

.footer {
  color: #666;
  font-size: 12px;
  margin-top: 24px;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: underline;
}

.button {
  background-color: #007bff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto 48px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
}