<p> Hello, <%= @first_name %>! </p>

<p> Welcome to Aerostock! We're excited to have you on board.</p>

<p> If you have any questions, please don't hesitate to reach out to us at support@aerostock.app </p>

<p> Aerostock Team </p>