<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="x-apple-disable-message-reformatting">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title> #{@subject} </title>
  <%= stylesheet_link_tag "/stylesheets/mailers/layout.css" %>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container" align="center">
    <div class="header">
      <h1> AEROSTOCK </h1>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      <p> If you need any help, please email support@aerostock.app </p>
    </div>
</body>